/* Buttons will be changed at a later stage - this is to get them up and running */

.Button {
    font-size: 0.9rem;
    color: white;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: #5091ca;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #0d4e87 !important;
}

.Button:active {
    background-color: #0d4e87 !important;
}

.Button:focus {
    background-color: #0d4e87;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}
