.App {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
}

.Main {
    padding-top: 90px;
}

.Content {
    background: rgb(220, 248, 255);
    padding: 20px;
    border-radius: 1px;
    border: 2px solid #9fcdf5;
    text-align: center;
}

.SignFormImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

input[type="file"] {
    display: none;
}

* {
    box-sizing: border-box;
}

a {
    color: #5091ca;
    transition: color ease-in-out 0.4s;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: #0d4e87;
    transition: color ease-in-out 0.4s;
}

i {
    padding: 5px;
    vertical-align: middle;
    font-size: 1.25rem;
}

i:hover {
    cursor: cursor;
    color: #0d4e87;
    transition: color ease-in-out 0.4s;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: aliceblue;
}

*::-webkit-scrollbar-thumb {
    background: #5091ca;
}

*::-webkit-scrollbar-thumb:hover {
    background: #5091ca;
}